<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774383780799-makm8ud6jtdigal537dq0d0l3e0tvogb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774383780799-makm8ud6jtdigal537dq0d0l3e0tvogb</string>
	<key>API_KEY</key>
	<string>AIzaSyCdeN6qvGjwhT7KKMfz83stq0CThnSMWS0</string>
	<key>GCM_SENDER_ID</key>
	<string>774383780799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makinfstuffup.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-9728d</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-9728d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774383780799:ios:5850f3092d4802d2f7970a</string>
</dict>
</plist>